ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
    list-style-type: none;
}
.menu:hover {
    background-color: #4CAF50;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 6px 8px;
    text-decoration: none;
}

#toggle {
    margin-right: 20;
}
p {
    background-color: #CCE0CC;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

p:nth-child(even) {
    background-color: #CCE0CC;
}
